@media only screen and (max-width: 1150px) {
    .promo {
      flex-direction: column !important;
      align-items: center;
      height: 650px !important;
      padding: 0 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .promo__images-col:nth-of-type(3) {
      display: none;
    }
    .promo__images {
      flex-direction: row-reverse !important;
    }
    .promo__images-col:first-of-type {
      margin-top: -15% !important;
      margin-bottom: 35% !important;
    }
    .promo__images-col:nth-of-type(2) {
      margin-top: 15% !important;
    }
    .promo__images img {
      width: 40vw !important;
      border-radius: 10px;
      height: 200px !important;
      object-fit: cover;
    }
    .promo {
      gap: 0 !important;
    }
  }
  .promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    height: 750px;
    overflow: hidden;
    justify-content: space-between;
  }
  .promo__images-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .promo__images-col:first-of-type {
    margin-bottom: 20%;
  }

  .promo__images-col:nth-of-type(2) {
    margin-top: 20%;
  }
  .promo__images-col:nth-of-type(2) img {
    margin-bottom: 9%;
  }
  .promo__images-col:nth-of-type(3) {
    margin-top: 10%;
    margin-bottom: 12%;
  }
  .promo__images-col:nth-of-type(3) img {
    margin-bottom: -5% !important;
  }
  .promo__images {
    display: flex;
    flex-direction: row;
  }

  .promo__images img {
    width: 210px;
    border-radius: 10px;
    height: 270px;
    object-fit: cover;
    margin: 0 10px;
  }
  .promo__text {
    display: flex;
    flex-direction: column;
  }
  p.promo__description {
    margin-bottom: 20px;
  }